<h3>welcome to Bookers !!</h3>
In Bookers,

<p>you can share and exchange your opinions , inpressions , and emotions<p>

<p>about various books!<p>

<li>
  <%=link_to "sign up",new_user_registration_path %>
  <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
  </li>
  <li>
  <%=link_to "login",new_user_session_path %>
  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
  </li>